{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <style>
      table.tb { width:300px; border-collapse: collapse; }
      .tb th, .tb td { border: solid 1px #777; padding: 5px;  }
      .tb th { background: #3630a3; color: white; text-align:left; }
      .tcell { background: #f6f8ff; }
    </style>

    <table class="tb">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Tag</th>
        </tr>
        {% for user in userlist %}
        <TR>
            <TD class="tcell">{{user.id}}</TD>
           <TD class="tcell">{{user.name}}</TD>
           <TD class="tcell">{{user.balance}}</TD>
           <TD class="tcell">{{user.tag}}</TD>
        </TR>
        {% endfor %}
    </table>
{% endblock %}
